body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: #eee;
}

p {
    font-size: 2em;
    color: #b4b4b4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

div.pageWrapper {
    margin-top: 100px;
}
.header {
    position: fixed;
    left: 20px;
    /*margin-left: -150px;
    left: 50%;*/
    top: 20px;
}
.headerLogo > a > img {
    width: 300px;
}
.headerMenu {
    position: fixed;
    right: 20px;
    margin-top: -1.5em;
}
div.container {
    margin: auto;
    width: 1111px;
}

div.iconspageLeadingText {
    text-align: center;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
}
li {
  border: 0px solid grey;
  padding: 0.1em 0.2em;
  display: flex;
  align-items: flex-end;
}

.gridImage {
    width: 217px;
}

/* unvisited link */
a:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: white;
}

.art {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #f5f5f5;
    overflow:hidden;
}

.artPrev {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    color: #f5f5f5;
    opacity: 0.5;
}
.artPrevLink {
    position: absolute;
    display: inline;
    color: #f5f5f5;
    bottom: 0px;
    left: 0px;
}

.ppContainer {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 38px;
    right: 30px;
    transform: rotate(180deg);
}


.artNext{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    color: #f5f5f5;
    opacity: 0.5;
}
.artNextLink {
    position: absolute;
    display: inline;
    color: #f5f5f5;
    bottom: 0px;
    right: 0px;
}

.ffContainer {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 22px;
    right: 30px;
}

.playerTransport {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.playHeadContainer {
    height: 5px;
    width: 100%;
    position: fixed;
    bottom: 100px;
    background-color: rgba(150, 150, 150, 0.3);
    z-index: 10;
}
.playLoaded {
    height: 5px;
    width: 100%;
    position: fixed;
    bottom: 100px;
    z-index: 20;
}
.playPlayed {
    height: 5px;
    width: 100%;
    position: fixed;
    bottom: 100px;
    z-index: 30;
}

.duration {
    position: fixed;
    bottom: 110px;
    right: 10px;
    z-index: 40;
}


.playedMinutes {
    position: fixed;
    bottom: 110px;
    left: 10px;
    z-index: 40;
}

.playHead {
    position: absolute;
    left: 200px;
    bottom : 90px;
    border: 1px solid white;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    z-index: 50
}

.playHeadGhost {
    position: absolute;
    bottom : 90px;
    border: 1px solid white;
    background-color: gray;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    z-index: 50
}

.playHeadDragger {
    position: absolute;
    left: 200px;
    bottom : 90px;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    z-index: 50
}

.playPauseButton {
    position: absolute;
    bottom: 25px;
    left: 50%;
    z-index: 60;
    width: 50px;
    height: 50px;
    margin-left: -25px;
}
